

:root {
  --magenta: #E92EFB;
  --magenta-rgb: 233, 46, 251;
  --button-text: #440BD4;
  --blue: #440BD4;
}

body {
  height: 100vh;
  background-color: var(--blue) !important;
}

.images {
  .compound {
    height: 200px;
  }
  #double {
    right: 0;
    top: 0;
    position: absolute;
    margin-right: 10%;
    margin-top: 10%;
  }
  #trifecta {
    display: none;
  }
  #star {
    display: none;
  }
}

div.rectangle {
  flex-direction: row !important;
  position: relative;
  height: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  font-family: 'HelveticaNeue-Light';
}

.selector {
  min-width: 80px;
  min-height: 80px;
  background-color: var(--magenta);
  border: 1px solid #000;
  margin-bottom: 1em;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  // color: var(--button-text);
  font-weight: 400;
}

.inner {
  min-height: 600px;
  width: 95%;
  background-color: white;
  border-radius: 2em;
  padding: 2em;
  color: #000;
  overflow: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: 'HelveticaNeue-Light';
}

.inner-content {
  float: right;
  font-size: 1.3em;
  height: 520px;
  padding-bottom: 1em;
}

.duties {
  margin: 1em 0 0 2em;
  text-align: right;
}

.totals {
  font-size: 2.5em;
  font-weight: 700;
  -webkit-text-stroke: 1px black;
  color: #fff;
  text-shadow: 4px 3px rgba(0, 0, 0, 0.25);
  text-align: right;
  padding-bottom: 2em;
}

.flipper {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 1em;
  width: 130px;
  justify-content: space-around;
  display: flex;
  button {
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 0 rgba(233, 46, 251, 1);
  }
}

.contact {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: right;
  font-size: 1.2em;
  &.contents {
    width: 90%;
  }
}

.icon-img {
  width: 50px;
  margin: 10px;
}

@media (min-width: 768px) {
  .inner {
    min-height: 420px;
  }
  .images {
    .compound {
      height: 300px;
    }
    #star {
      max-height: 150px;
      bottom: 0;
      right: 0;
      position: absolute;
      margin: 0 5% 40px 0;
    }
    #double {
      top: 0;
      position: absolute;
      right: 0;
      margin: 20px 5% 0 0;
    }
  }
  .selector {
    height: 6em;
    width: 6em;
    margin-bottom: 1em;
  }
  .inner-content {
    max-width: 90%;
    height: 450px;
    overflow-y: scroll;
    padding-right: 1em;
  }
  .contact .contents {
    width: 50%;
    text-align: center;
    height: 50% !important;
  }
  .duties {
    margin-left: 4em;
  }
}

@media (min-width: 1024px) { 
  .inner-content {
    width: 95%;
    padding-right: 1em;
  }
  .flipper {
    width: 200px;
    button {
      font-size: 1.3em;
    }
  }
}
