:root {
  --main-bg-color: #440BD4;
  --font-color: #fff;
  --white: #fff;
}

.home {
  background-color: var(--main-bg-color);
  // height: 100vh;
  min-height: 667px;
  width: 100vw;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  .top {
    display: flex;
    justify-content: center;
  }
  .line {
    width: 95%;
    max-width: 1320px;
    height: 1px;
    border-bottom: 1px solid var(--white);
    top: 0;
    margin: 1em 0 1em 0;
  }
  .left .name {
    font-size: 2.2em;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 200px;
    line-height: 30px;
    font-family: 'Helvetica Neue';
  }
  .description {
    max-width: 500px;
    max-height: 200px;
    font-size: 1.5em;
    line-height: 20px;
    padding-left: 20px;
    font-family: 'HelveticaNeue-Light';
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .main-body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .description-block {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    .vert-line {
      width: 1px;
      border-left: 1px solid white;
    }
  }
  .left {
    height: 25%;
  }
  .right {
    height: 70%;
  }
  .contents {
    height: 100%;
  }
}


@media (min-width: 768px) {
  .home {
    .line {
      margin: 2em 0 2em 0;
    }
    .left .name {
      font-size: 5em;
      text-transform: uppercase;
      line-height: 70px;
    }
    .description {
      max-width: 600px;
      font-size: 1.5em;
      line-height: 30px;
    }
    // .main-body {
    //   flex-direction: row;
    // }
  }
}

@media (min-width: 1024px) {
  .home {
    .left .name {
      font-size: 6.5em;
      line-height: 90px;
    }
  }
}